@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Rokkitt:100,200,300,400,500,600,700');

/* -------------------------------------Colours */

.nav-color-bg {
    background: black;
}
.nav-header-color {
    background: black;
}
.button-color {
    color: white;
}

.header-color {
    background: black;
}

.bg-color-bandnamedesc {
    background-color: #F52E2E;
}

.bg-color-bio {
    background-color: #F52E2E;
}

.bg-color-discog {
    background-color: grey;
}
.bg-color-music {
    background-color: #2A2D34;
}

.stream-color {
    background-color: #2A2D34;
}

.ui-menu-color-home {
    background-color: #357266;
}

.ui-menu-color-music {
    background-color: #2F323A;
}

.ui-menu-color-bio {
    background-color: #357266;
}

.ui-menu-color-store {
    background-color: #2F323A;
}

.icon-color {
    color: #61D3BC;
}

.mainlinks li a i {
    color: darkgrey;
}

.bigcartel_bgcolour {
    color: darkgrey;
}

/* -------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.about-heading {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: #fafafa;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.members-heading {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: #fafafa;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: left;
}

.discog-heading {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: #fafafa;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center
}

.bio-para {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: black;
}

.bio-link {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: #61D3BC;
    text-decoration: bold;
}

#contact-modal {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: black;
}

/* -------------------------------------Heading */

header {
    margin: 0;
    padding-bottom: 25px;
    background-color: black;
}

.col-heading {
    padding: 0;
}

.col-heading-store {
    margin-left: 50px;
    margin-bottom: 25px ;
}

.logo {
    background: url("../images/OFAC new logo long.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 180px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* -------------------------------------Article */

.bandname {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 46px;
    margin-top: 50px;
    color: black;
    text-align: center;
}

.music-text {
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 25px;
    color: black;
}

.banddescription {
    font-family: 'Rokkitt', cursive;
    font-weight: 200;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
    text-align: center;
}

.main-article {
    margin:0;
    padding:0;
}

.music-article {
    margin:0;
    padding:0;
}

.bio-article {
    margin:0;
    padding:0;
}

.store-article {
    margin:0;
    padding:0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 40px;
    padding: 0;
}

.menuitem {
    height: 140px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 101%;
    text-decoration: none;
    color: #8D8F93;
    height: 140px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #8D8F93;
    font-size: 46px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

/* -------------------------------------Hover.css */

.hvr-shutter-in-vertical {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    background: rgba(0, 0, 0, 0);
    
}

.hvr-shutter-in-vertical:hover {
    background: rgba(0, 0, 0, 0);
    height: 140px;
    border: none;
}

.hvr-shutter-in-vertical:after {
    transition: #8D8F93;
    height: 140px;
    border:none;
}

/* -------------------------------------Footer */

footer {
    padding-top: 5px;
    background-color: #7A7C81;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.ft-contact {
    
}

.ft-social {
    
}

.ft-music {
    
}

.contact i {
    font-size :30px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact i:hover {
    color: #61D3BC;
}

.social-links {
    padding-top: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #61D3BC;
    background: #2A2D34;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #afe9dd;
}

.music-links {
     padding-top: 10px;
}

.music-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #61D3BC;
    background: #2A2D34;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.music-links li a i:hover {
    background: #bf9ce3;
}

#footer-details {
    padding: 20px;
}

/* ------------------------------------- music */

.music-image {
    
}

.bandcamp-streams {
    padding-top: 15px;
    padding-bottom: 10px;
}

.stream-embed {
    padding: 15px;
    margin: 0 auto;
}

/* ------------------------------------- bio */

.bio-section{
    padding: 0;
}

.discog-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 2px solid;
    margin-left: 10px;
    column-span: 100%;
}

.discog-item p {
    padding: 0;
    margin: 10 0;
}

.discog-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2em;
    top: 3em;
    display: block;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: 0;
    margin: 0;
    color: black;
    margin-bottom: 10px
}

.discog-item:after {
    width: 15px;
    height: 15px;
    display: block;
    top: 4.5em;
    position: absolute;
    left: -8px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.discog-links {
    text-decoration:none;
    color: #fafafa;
}

/* ------------------------------------- store */

.bigcartel {
    margin: 15px;
    padding: 2em;
}

/*--------------------------------------Cookie Consent Begin*/

.alert {
    margin: 0;
    padding: 0;
}

#cookieConsent {
    background-color: black;
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px;
    font-family: "Quicksand",sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}

#closeCookieConsent {
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#closeCookieConsent:hover {
    color: #FFF;
}

#cookieConsent a.cookieConsentOK {
    background-color: #61D3BC;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0;
    cursor: pointer;
    margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover {
    background-color: #2B5E54;
}

.cookie-button {
    padding: 0;
    display: inline;
}

.close.cookie-button {
    margin: 0;
    padding: 0;
}

/*--------------------------------------Carousel*/

.carousel-inner > .carousel-item {
  height: 100vh;
}

.carousel-inner > .carousel-item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 800px;
  width: auto;
}

.ofac-slides{
    background: black;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block !important;
}

#carouselExampleIndicators {
    position: relative;
}

.carousel-item {
  
}

.carousel-control-prev {
   
}

.carousel-control-next {
   
}